body{
    margin: 0;
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: "StratosSkyeng";
}
.header{
    background-attachment: fixed;
    height: 100vh;
    background-image: url(./images/head.png);
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    position: relative
}

table{
    width: 1200px;
    height: 100vh;
    border: 25px solid white;
    
    margin: 0 auto;
}
img{
    width: 560px;
}
p{
    width: max-content;
    font-size: 30px;
    background-color: white;
    border-radius: 25px;
    padding: 10px 30px;
    margin: 23px auto;
}
a{
    display: block;
    background-color: #894AFF;
    color: white;
    padding: 11px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    bottom: 75px;
    right: 80px;
}